/* styles.css */

/* || GENERAL STYLES */
/* ############################################################################################### */
a {
  font-size: 0.625rem;
} a:hover {
  color: #90e0ef;
}

body {

}

h1 {
  color: #77C3EC;
  font-size: 2.5rem;
  font-family: 'Courier New', Courier, monospace;
}
  
.feed_box_title {
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
  color: #23395D;
  text-align: center;
  background-color: #AFDCEB;
  border-radius: 4px;
  position: absolute;
  top: 0;
  width: 62%;
}

h3 {
  font-size: 1rem;
  color: #23395D;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}

p {
  font-size: 0.625rem;
  display: block;
}
/* ############################################################################################### */

/* || COMPONENT STYLES */
/* ############################################################################################### */

/* FEED BOX */
.feed_box {
  border: solid;
  border-radius: 10px;
  border-color: #90e0ef;
  padding: 6px;
  font: 24px/36px sans-serif;
  width: 60%;
  overflow: hidden;
  overflow: scroll;
  background-color: #EAEDED;
  height: 80%;
  position: absolute;
  top: 20px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
} ::-webkit-scrollbar-track {
  border: 1px solid #90e0ef;
  border-radius: 10px;
} ::-webkit-scrollbar-thumb {
  background: #90e0ef;  
  border-radius: 10px;
} ::-webkit-scrollbar-thumb:hover {
  background: #90e0ef;  
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
} .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
/* ############################################################################################### */


/* … */

/* || Typography */

/* … */

/* || Header and Main Navigation */

/* … */

  .close_modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close_modal:hover, .close_modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .unread_count {
    position: relative;
    left: 30px;
    display: inline-block;
    font-weight: bold;
  }

  .xml-container {
    border-style: solid;
    overflow: hidden;
    overflow: scroll;
    height: 100%;
  }

  #add_link_button {
    position: relative;
    left: 860px;
  }

  #delete_feed_button {
    position: relative;
    left: 710px;
  }

  .big_button {
    background-color: #90e0ef;
    border-radius: 4px;
    border-color: #23395D;
    border-width: 1px;
    color: #23395D;
    font-size: 16px;
    font-weight: bold;
    width: 140px;
    height: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
  } .big_button:hover {
    background-color: #23395D;
    color: #90e0ef;
  }

  .danger_button {
    background-color: #8A0700;
    border-radius: 4px;
    border-color: #FEB5B1;
    border-width: 1px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 140px;
    height: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
  } .danger_button:hover {
    background-color: #390200;
    color: #FF6961;
  }

  .form_field {
    width: 60%;
    margin: 6px 0 6px 0;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #EAEDED;
  }

  .form_field:focus {
    outline: 2px solid #90e0ef;
    border: 1px solid white;
  }

  .form_label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }

  .feed_data {
    border-bottom: solid 0.1px;
    border-color: #888;
    padding: 0;
    margin: 0;
  }

  .read {
    background-color: #EAEDED;
  }

  .unread {
    background-color: white;
  }

  .feed_title {
    text-align: left;
    font-weight: bold;
    display: inline-block;
  }

  .feed_guid {
    display: block;
  }

  .feed_description {
  }

  .feed_pubDate {
    text-align: right;
  }

.error {
  color: #333;
  background: #fafafa;
  border: 1px solid #ccc;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  font-weight: bold;
  text-align: center;
  position: relative;
  bottom: 40px;
  left: 300px;
  width: 200px;
}

.mark_read_button {
  float: right;
}

#info {
  position: fixed;
  bottom: 0;
  right: 0;
}

.grid-container {
  background-color: white;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 70vh;
  }
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  resize: none;
  overflow: hidden;
}
  
  .item1 { 
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .item2 { 
    grid-area: 2 / 1 / 3 / 2; 
    position: relative;
  }
  .item3 { 
    height: 90%;
    grid-area: 1 / 2 / 3 / 3; 
    position: relative;
  }

  li {
    display: flex;
    box-sizing: border-box;
    flex-flow: row nowrap;
    font-size: 12px;
    border: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: #8C92AC;
    text-align: justify;
    width: fit-content;
    right: 40px;
    bottom: 23px;
    position: relative;
    padding: 5px;
  }
  li:hover {
    text-shadow:0px 0px 0.6px black;
    border: 1.5px solid #6c94a1;
    background-color: #e3e6e6;
  }
  .feed_button_icon {
    width: 10px;
    height: 10px;
    pointer-events: none;
  }

  .edit_button, .load_button, .delete_button {
    width: fit-content;
    height: fit-content;
    margin-left: 4px;
    margin-top: 8px;
  }
  .edit_button:hover, .load_button:hover, .delete_button:hover {
    outline: 1px solid black;
  }