/* styles.css */
body {
    margin-bottom: 200%;
    }
    
    /* Box styles */
    .feedBox {
    border: solid;
    border-radius: 10px;
    border-color: #90e0ef;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 250px;
    min-height: 100px;
    overflow: hidden;
    overflow: scroll;
    }
    
    /* Scrollbar styles */
    ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track {
    border: 1px solid #90e0ef;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background: #90e0ef;  
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #90e0ef;  
    }

p {
    font-size: 10px;
}

h1 {
  color: #77C3EC;
}

h2 {
  font-size: 18px;
  color: #23395D;
  margin: 0;
  padding: 0;
  border: solid;
  border-width: 1px;
  border-color: #8C92AC;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  background-color: #AFDCEB;
}

li {
  font-size: 16px;
  border: solid;
  border-width: 1px;
  border-color: #8C92AC;
  border-left: none;
  border-right: none;
  border-top: none;
  text-align: center;
  width: 248px;
  right: 45px;
  bottom: 28px;
  position: relative;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .right {
    text-align: right;
  }

  .edit {
    width: 10px;
    height: 10px;
  }

  .listBtn {
    position: relative;
    left: 10px;
  }