/* styles.css */

/* || GENERAL STYLES */

body {

}

h1 {
  color: #77C3EC;
  font-size: 2.5rem;
  font-family: 'Courier New', Courier, monospace;
}
  
h2 {
  font-size: 1.125rem;
  color: #23395D;
  margin: 0;
  padding: 0;
  border: solid;
  border-width: 1px;
  border-color: #8C92AC;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  background-color: #AFDCEB;
}
  
li {
    font-size: 12px;
    border: solid;
    border-width: 1px;
    border-color: #8C92AC;
    border-right: none;
    border-left: none;
    border-top: none;
    text-align: justify;
    width: 244px;
    right: 40px;
    bottom: 28px;
    position: relative;
}

p {
  font-size: 0.625rem;
}

/* … */

/* || Typography */

/* … */

/* || Header and Main Navigation */

/* … */






    
    /* Box styles */
    .feedBox {
    border: solid;
    border-radius: 10px;
    border-color: #90e0ef;
    padding: 6px;
    font: 24px/36px sans-serif;
    width: 250px;
    min-height: 50px;
    overflow: hidden;
    overflow: scroll;
    background-color: #EAEDED;
    }
    
    /* Scrollbar styles */
    ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track {
    border: 1px solid #90e0ef;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background: #90e0ef;  
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #90e0ef;  
    }





.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .right {
    text-align: right;
  }

  .feed-button-icon {
    width: 10px;
    height: 10px;
    pointer-events: none;
  }

  .edit_button {
    position: relative;
    left: 10px;
  }

  .load_button {
    position: relative;
    left: 15px;
  }

  .delete_button{
    position: relative;
    left: 20px;
  }

  .xml-container {
    width: 880px;
    border-style: solid;
    height: 200px;
    position: relative;
    left: 320px;
    bottom: 90px;
    overflow: hidden;
    overflow: scroll;
  }

  #add_feed_button {
    margin: 0 0 10px 2px;
  }

  #add_link_button {
    position: relative;
    left: 460px;
  }

  .big_button {
    background-color: #90e0ef;
    border-radius: 4px;
    border-color: #23395D;
    border-width: 1px;
    color: #23395D;
    font-size: 16px;
    font-weight: bold;
    width: 140px;
    height: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
  } 
  .big_button:hover {
    background-color: #23395D;
    color: #90e0ef;
  }